/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ebc0ce;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: underline;
}

h2 {
    margin-bottom: 15px;
}

p {
    text-align: justify;
    line-height: 25px;
}

header {
    margin-bottom: 100px;
}

article {
    margin-bottom: 100px;
}
