@font-face {
    font-family: 'cornerSky';
    src: url("../assets/font/KGCorneroftheSky.ttf");
}

body {
    font-family: 'cornerSky';
}

main,
article {
    min-height: 100vh;
}

footer {
    min-height: 25vh;
}

#homemAranha img {
    max-width: 150px;
}

#homemAranha img:hover {
    transform: rotate(-5deg);
}

.quadrado {
    border: 3px solid black;
    border-radius: 4px;
    min-height: 100vh;
    margin-bottom: 30px;
}

h5 {
    text-align: center;
}

.conteudo {
    padding: 10px;
}

#scrollTop {
    border: 3px solid #212529;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 8px;
    cursor: pointer;
    visibility: hidden;
}

#scrollTop img {
    width: 25px;
    height: 25px;
}

#footer {
    border-top: 3px solid #212529;
}

ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    flex-wrap: wrap;
}

li {
    list-style: none;
    text-align: center;
    margin-bottom: 5px;
    width: 350px;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.60rem;
    background-color: #212529;
}

::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2d4c75;
}

@media screen and (max-width:500px) {

    .carousel-control-prev,
    .carousel-control-next {
        top: -60% !important;
    }
}

@media screen and (min-width:750px) {
    li {
        width: 25%;
    }
}

.carousel-item div {
    display: flex;
    justify-content: center;
}

.carousel-item img {
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 10px;
}

.carousel-item p {
    text-align: justify;
    padding: 5px 25px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) grayscale(100);
}

#experiencias img {
    width: 90px;
    height: 90px;
    margin-bottom: 35px;
    transition: 2s;
}

#experiencias img:hover {
    transform: rotate(360deg);
}

body {
    background-image: url("/assets/img/utils/web.png");
}